In [39]:
import pandas as pd
import numpy as np

In [40]:
lodes = pd.read_csv('ny_od_main_JT01_2013.csv')
xwalk = pd.read_csv('ny_xwalk.csv')
pums = pd.read_csv('ss14pny.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (27,28,29,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (107,108) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
lodes['h_cty'] = lodes.h_geocode // 10000000000
lodes['w_cty'] = lodes.w_geocode // 10000000000
si_lodes = lodes.query('h_cty==36085')

In [22]:
xwalk.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,tribname,tsub,tsubname,stanrc,stanrcname,mil,milname,stwib,stwibname,createdate
0,360010001001000,36,NY,New York,36001,"Albany County, NY",36001000100,"1 (Albany, NY)",360010001001,"1 (Tract 1, Albany, NY)",...,NaN,9999999,NaN,9999999,NaN,9999999999999999999999,NaN,36360051,Albany/Rensselaer/Schenectady LWIA,20150603
1,360010001001001,36,NY,New York,36001,"Albany County, NY",36001000100,"1 (Albany, NY)",360010001001,"1 (Tract 1, Albany, NY)",...,NaN,9999999,NaN,9999999,NaN,9999999999999999999999,NaN,36360051,Albany/Rensselaer/Schenectady LWIA,20150603
2,360010001001002,36,NY,New York,36001,"Albany County, NY",36001000100,"1 (Albany, NY)",360010001001,"1 (Tract 1, Albany, NY)",...,NaN,9999999,NaN,9999999,NaN,9999999999999999999999,NaN,36360051,Albany/Rensselaer/Schenectady LWIA,20150603
3,360010001001003,36,NY,New York,36001,"Albany County, NY",36001000100,"1 (Albany, NY)",360010001001,"1 (Tract 1, Albany, NY)",...,NaN,9999999,NaN,9999999,NaN,9999999999999999999999,NaN,36360051,Albany/Rensselaer/Schenectady LWIA,20150603
4,360010001001004,36,NY,New York,36001,"Albany County, NY",36001000100,"1 (Albany, NY)",360010001001,"1 (Tract 1, Albany, NY)",...,NaN,9999999,NaN,9999999,NaN,9999999999999999999999,NaN,36360051,Albany/Rensselaer/Schenectady LWIA,20150603

In [42]:
dest_by_zip = pd.merge(si_lodes,xwalk,left_on='w_geocode',right_on='tabblk2010').groupby('zcta')['S000'].sum()
dest_by_zip.sort_values(ascending=False)

zcta
11201    21967
10314     9783
10013     8063
10305     7992
10007     7679
10306     4778
10309     3892
10001     3809
10310     3452
10304     3311
10301     3116
10036     2973
10312     2873
10004     2745
10018     2672
10017     2671
10019     2655
10016     2562
10022     2328
10005     2296
10303     2207
10003     1921
11220     1908
11219     1742
10038     1720
10011     1594
11209     1560
10010     1536
10302     1461
11101     1348
         ...
12775        1
13754        1
12580        1
12475        1
10199        1
12501        1
12516        1
12525        1
14051        1
14043        1
14032        1
11424        1
12569        1
12575        1
12577        1
12581        1
13780        1
13856        1
12586        1
12723        1
12732        1
13830        1
12737        1
12740        1
12742        1
13811        1
13795        1
13782        1
12749        1
13036        1
Name: S000, dtype: int64

In [44]:
exboro_dest_by_zip = pd.merge(si_lodes.query('w_cty!=36085'),xwalk,left_on='w_geocode',right_on='tabblk2010').groupby('zcta')['S000'].sum()
exboro_dest_by_zip.sort_values(ascending=False).to_csv('exboro_dest_by_zip.csv')

In [45]:
exboro_work_by_bg = pd.merge(si_lodes.query('w_cty!=36085'),xwalk,left_on='w_geocode',right_on='tabblk2010').groupby('bgrp')['S000'].sum()
exboro_work_by_bg.sort_values(ascending=False).to_csv('work_by_bg.csv')

In [38]:
exboro_home_by_bg = pd.merge(si_lodes.query('w_cty!=36085'),xwalk,left_on='h_geocode',right_on='tabblk2010').groupby('bgrp')['S000'].sum()
exboro_home_by_bg.sort_values(ascending=False).to_csv('home_by_bg.csv')

In [15]:
pums['PUMA'] = pums[['PUMA00','PUMA10']].max(axis=1)
pums['POWPUMA'] = pums[['POWPUMA00','POWPUMA10']].max(axis=1)
puma_list = [3901,3902,3903]
si_pums = pd.DataFrame()
for puma in puma_list:
    si_pums = si_pums.append(pums.query('PUMA == @puma'))
    print (si_pums.shape[0],'rows after addition of PUMA',str(puma))
del pums

6720 rows after addition of PUMA 3901
12643 rows after addition of PUMA 3902
20433 rows after addition of PUMA 3903

In [16]:
si_pums[si_pums['JWMNP']!=np.nan]['JWMNP'].mean()

42.259650789880034

In [21]:
si_pums.query('POWPUMA!=3900').groupby('JWTR').size()

JWTR
1     2368
2     1268
3        7
4      224
5       53
6      289
7        2
8        2
9        6
10      30
12      25
dtype: int64

In [7]:
si_pums.groupby('JWTR').size()/si_pums.groupby('JWTR').size().sum()

JWTR
1     0.649208
2     0.208232
3     0.001041
4     0.030986
5     0.009481
6     0.036536
7     0.000809
8     0.000462
9     0.001503
10    0.029830
11    0.026593
12    0.005319
dtype: float64